/* Style the header */

* {
  background-color: #b29983;
}
.grid-container{
  display: grid;  
  grid-template-rows: 136px 1fr 1fr; 
  height: 100vh;
}

.header {
  background: lightblue;
  position: fixed;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
 }

 .potato-img{
  top: -20px; 
  width: 100%;
  height: auto;
 }
 h1{
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
 }