body {
  font-family: Tahoma;
}

.grid-container {
  display: grid;
  grid-template-areas: "main-box";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100vw;
  height: 100vh;
  align-items: center;
  background-color: blue;
}

.grid-main {
  grid-area: main-box;
  justify-self: center;
  display: grid;
  grid-template-areas:
    "nav form";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  width: 80%;
  height: 80%;
  align-items: center;
  background-color: yellow;
}


.survey-nav {
  grid-area: nav;
  background-color: #545871;
  height: 100%;
  display: grid;
  grid-template-areas:
    ". nav-head ."
    ". nav-list .";
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 1fr 4fr 2fr;
  background-image: url(../../assets/pngwing.com.duo.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 50%;
}

.nav-list {
  grid-area: nav-list;
  background-color: pink;
 /* display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;*/

}

.radio-btns{
  justify-self: center;
}
/*.labels{
  justify-self: center;
}*/
/*.nav-item{
  width: 100%;
  display: flex;
}*/ 
.nav-radio{
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.nav-radio input{
  height: 100%;
  width: 100%;
}

  .nav-radio input:checked{
    height: 100%;
    width: 100%;
}


.nav-lbl:checked{
  background-color: red;
}


.nav-header {
  grid-area: nav-head;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
}



.survey-form {
  grid-area: form;
  background-color: #faeceb;
  height: 100%;
  display: grid;
  grid-template-areas:
    ". form-head ."
    ". form-fields ."
    ". form-footer .";
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
}


.form-header {
  grid-area: form-head;
  background-color: rgb(255, 222, 34);
  display: flex;
  justify-content: right;
  align-items: center;
}
.greet-header{
  font-size:  30px;
  font-weight: bold;
}
.form-fields {
  grid-area: form-fields;
  background-color: #faeceb;
  display: grid;
  grid-gap: 10px 10px;

  /* grid-template-columns: 4fr 1fr 4fr;*/

  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  grid-template-rows: repeat(auto, 1fr);
}

.dog-name {
  display: grid;

  grid-template-rows: repeat(2, 1fr);

  background-color: lightseagreen;

}

.photo {

  background-color: lightsalmon;
  margin: 0;

}

input {
  width: 100%;
  padding: 0;
  border: 0;
}


.dog-name-in {
  background-color: white;
}

.breed-name {
  display: grid;
  background-color: lightseagreen;

  grid-template-rows: repeat(2, 1fr);

}


.breed-name-in {

  background-color: white;
}

.bday {

  display: grid;

  grid-template-rows: repeat(2, 1fr);
  background-color: lightseagreen;
}

.bday-in {

  background-color: white;
}

.gender {
  display: grid;
  grid-template-rows: repeat(2, 1fr);

  background-color: lightseagreen;
}

.gender-in {
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
}

#genderf {
  display: none;
}

#genderm {
  display: none;
}
#genderf:checked + .genderf{
  background-color: yellow;
}

#genderm:checked + .genderm{
  background-color: yellow;
}

.genderf {
  background-color: limegreen;
}

.genderm {
  background-color: lawngreen;
}

.sp-ne {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: lightseagreen;
}

.sp-ne-in {
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;

}


#sprayed {
  display: none;
}

#neutered {
  display: none;
}
#sprayed:checked + .sprayed{
  background-color: yellow;
}

#neutered:checked + .neutered{
  background-color: yellow;
}


.sprayed {
  background-color: limegreen;
}

.neutered {
  background-color: lawngreen;
}

.weight {

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: lightseagreen;
  grid-column-start: 1;
  grid-column-end: -1;
}

.weight-in {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;

  background-color: white;
  justify-content: space-around;
  align-items: center;
}

#s-weight  {
  display: none;
}


#s-weight:checked + .s-weight  {
  background-color: yellow;
}

.s-weight {
  background-color: darkmagenta;
}

.m-weight {
  background-color: darkcyan;
}

.l-weight {
  background-color: darkkhaki;
}

.xl-weight {
  background-color: darkblue;
}

.form-footer {
  grid-area: form-footer;
  background-color: lightblue;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 2fr 1fr 2fr 2fr;
}

.bck-btn {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: blueviolet;
  border-radius: 25px;

}

.next-btn {
  grid-row: 2/3;
  grid-column: 5/6;

  background-color: darkgray;
  border-radius: 25px;

}

  .bck-btn:focus,.next-btn:focus {
  background-color: yellow;
}

@media only screen and (max-width: 800px) {

  .grid-main {
    grid-area: main-box;
    justify-self: center;
    display: grid;
    grid-template-areas:
      "nav form";
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
    width: 80%;
    height: 80%;
    align-items: center;
    background-color: yellow;
  }
 
  .nav-header-title{
      display: none;
  }

  .nav-lbl{
    display: none;
  }

  .greet-header{
    font-size:  20px;
    font-weight: bold;
  }

}



/*https://colorhunt.co/palette/177866*/