body {
  font-family: Tahoma;
  overflow: auto;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #9497a7;
  align-items: center;
  justify-content: center;
}

.credit-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: -1;
}

.grid-main {
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-areas:
    "nav form";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  width: 80%;
  height: 80%;
  align-items: center;
  background-color: yellow;
  border-radius: 25px;
}


.survey-nav {
  border-radius: 25px 0 0 25px;
  grid-area: nav;
  background-color: #545871;
  height: 100%;
  display: grid;
  grid-template-areas:
    ". nav-head ."
    ". nav-list .";
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 1fr 4fr 2fr;
  background-image: url(../../assets/pngwing.com.duo.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 50%;
}

.nav-list {

  grid-area: nav-list;
  background-color: pink;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;

}

/*
.nav-lbls{
  display: grid;
  grid-template-rows: repeat(4,1fr);
align-items: center;
height: 80%;
}

.radio-btns{
  display: grid;
  grid-template-rows: repeat(4,1fr);
  align-items: center;
height: 80%;
}*/
/*.labels{
  justify-self: center;
}*/
/*.nav-item{
  width: 100%;
  display: flex;
}*/
.nav-radio {
  height: 20px;
  width: 20px;
  margin: 0;
 background-color: #9597a6;
  appearance: none;
  border-radius: 50%;
}


.nav-radio:checked{
  background-color: #545871;
  height: 25px;
  width: 25px;
  border: 4px solid white;
  }
  



.nav-radio:checked+.nav-lbl {
  background-color: red;
}



.nav-header {
  grid-area: nav-head;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
}



.survey-form {
  grid-area: form;
  background-color: #faeceb;
  height: 100%;
  display: grid;
  grid-template-areas:
    ". form-head ."
    ". form-fields ."
    ". form-footer .";
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  border-radius: 0 25px 25px 0;

}


.form-header {
  grid-area: form-head;
  background-color: rgb(255, 222, 34);
  display: flex;
  justify-content: right;
  align-items: center;
}

.greet-header {
  font-size: 30px;
  font-weight: bold;
  margin: 0px;
}

.form-fields {
  grid-area: form-fields;
  background-color: #faeceb;
  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.dog-name {
  height: 50px;
  display: grid;

  grid-template-rows: repeat(2, 1fr);

  background-color: lightseagreen;

}

.camera {
  height: 50px;

  background-color: lightsalmon;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.camera-border {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.camera-border img {
  width: 20px;
  height: 20px;

}

input {
  width: 100%;
  padding: 0;
  border: 0;
}

.dog-name-lbl {
  display: flex;
  align-items: center;
}

.dog-name-in {
  background-color: white;
}

.age {
  height: 50px;

  display: grid;
  background-color: lightseagreen;

  grid-template-rows: repeat(2, 1fr);

}

.age-lbl {
  display: flex;
  align-items: center;
}

.breed {
  height: 50px;

  display: grid;
  background-color: lightseagreen;

  grid-template-rows: repeat(2, 1fr);

}

.breed-lbl {
  display: flex;
  align-items: center;
}


.age-in {

  background-color: white;
}

.email {
  height: 50px;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: lightseagreen;
}

.email-in {

  background-color: white;
}

.email-lbl {
  display: flex;
  align-items: center;
}


.gender {
  height: 50px;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: lightseagreen;
}

.gender-lbl {
  display: flex;
  align-items: center;
}

.gender-in {
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: stretch;
}

#genderf {
  display: none;
}

#genderm {
  display: none;
}

#genderf:checked+.genderf {
  background-color: #c37e7b;
}

#genderm:checked+.genderm {
  background-color: #c37e7b;
}

.genderf {
  flex: 1;
  display: flex;

  background-color: white;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.genderm {
  flex: 1;
  display: flex;

  background-color: white;
  margin: 5px;
  align-items: center;
  justify-content: center;

}

.sp-ne {
  height: 50px;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: lightseagreen;
}

.sp-ne-in {
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: stretch;

}

.sp-ne-lbl {
  display: flex;
  align-items: center;
}


#sprayed {
  display: none;
}

#neutered {
  display: none;
}

#sprayed:checked+.sprayed {
  background-color: #c37e7b;
}

#neutered:checked+.neutered {
  background-color: #c37e7b;
}


.sprayed {
  flex: 1;
  display: flex;
  background-color: white;
  margin: 5px;
  align-items: center;
  justify-content: center;

}

.neutered {
  flex: 1;
  display: flex;
  background-color: white;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.food {
  height: 50px;

  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: lightseagreen;
}

.dry-wet-in {
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: stretch;

}

.dry-wet-lbl {
  display: flex;
  align-items: center;
}


#dry {
  display: none;
}

#wet {
  display: none;
}

#dry:checked+.dry {
  background-color: #c37e7b;
}

#wet:checked+.wet {
  background-color: #c37e7b;
}


.dry {
  flex: 1;
  display: flex;
  background-color: white;
  margin: 5px;
  align-items: center;
  justify-content: center;

}

.wet {
  flex: 1;
  display: flex;
  background-color: white;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.general-text {
  height: 50px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: lightseagreen;
  grid-column-start: 1;
  grid-column-end: -1;
}

.weight {
  height: 50px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: lightseagreen;
  grid-column-start: 1;
  grid-column-end: -1;
}



.weight-lbl {
  display: flex;
  align-items: center;
}

.weight-in {
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: strech;
}

#s-weight {
  display: none;
}


#s-weight:checked+.s-weight {
  background-color: #c37e7b;
}


.s-weight {
  flex: 1;
  margin: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: white;
}

#m-weight {
  display: none;
}


#m-weight:checked+.m-weight {
  background-color: #c37e7b;
}

.m-weight {
  flex: 1;
  margin: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: white;
}

#l-weight {
  display: none;
}


#l-weight:checked+.l-weight {
  background-color: #c37e7b;
}

.l-weight {
  flex: 1;
  margin: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: white;
}

#xl-weight {
  display: none;
}


#xl-weight:checked+.xl-weight {
  background-color: #c37e7b;
}

.xl-weight {
  flex: 1;
  margin: 5px;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.form-footer {
  grid-area: form-footer;
  background-color: lightblue;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 2fr 1fr 2fr 2fr;
}

.bck-btn {
  grid-row: 2/3;
  grid-column: 1/2;
  background-color: white;
  border-radius: 25px;
  border: solid black;
  border-width: thin;

}

.next-btn {
  grid-row: 2/3;
  grid-column: 5/6;

  background-color: #545871;
  border-radius: 25px;
}

.credit {
  text-align: center;
}

@media only screen and (max-width: 800px) {

  .grid-main {
    justify-self: center;
    display: grid;
    grid-template-areas:
      "nav form";
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
    width: 80%;
    height: 80%;
    align-items: center;
    background-color: yellow;
  }

  .nav-header-title {
    display: none;
  }

  .nav-lbl {
    display: none;
  }

  .greet-header {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
  }

  .nav-list {
    grid-area: nav-list;
    background-color: pink;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;

  }

}



/*https://colorhunt.co/palette/177866*/